@import url('https://fonts.googleapis.com/css?family=Karla&display=swap');
#container {
	width: 950px;
	height: 100%;
	background: #88E46B;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
#st {
	font-weight: bold;
	font-size: 34px;
	font-family: 'Karla', sans-serif;
	position: absolute;
	top: 48px;
	left: 435px;
}
hr {
	position: absolute;
	top: 95px;
	left: 437px;
	width: 241px; 
	border: 2px solid #484C47;
	background-color: #484C47;
}
img {
	position: absolute;
	top: 20px;
	left: 275px;
}
#phn {
	font-family: 'Karla', sans-serif;
	font-size: 18px;
	position: absolute;
	top: 105px;
	left: 435px;
}
input[type=text], input[type=password], input[type=email], input[type=number] {
	width: 40%;
	padding: 8px 14px;
	border: 1px solid #ccc;
	box-sizing: border-box;
	margin-top: 10px;
	position: relative;
	text-align: center;
	border-radius: 20px;
}
label {
	position: absolute;
	left: 300px;
	margin-top: 6px;
}
mark {
	background-color: white;
}
input#box {
	position: absolute;
	top: 630px;
	width: 15px;
	height: 15px;
	left: 290px;
}
#student {
	position: absolute;
	top: 627px;
	left: 310px;
}
a {
	text-decoration: none;
	color: black;
}
#submit {
	position: absolute;
	top: 650px;
	width: 120px;
	height: 40px;
	left: 418px;
}